{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "extends": ["eslint:recommended", "plugin:vue/recommended"],
  "rules": {
    "no-unused-vars": "warn",
    "no-async-promise-executor": "warn",
    "no-empty": "warn",
    "no-redeclare": "warn",
    "no-extra-semi": "warn",
    "no-useless-escape": "warn",
    "no-undef": "warn",
    "no-global-assign": "warn",
    "no-unreachable": "warn",
    "no-prototype-builtins": "warn",
    "no-dupe-keys": "warn",
    "no-sparse-arrays": "warn"
  },
  "plugins": ["vue"]
}
